# 工作与家的远程代码管理测试

In [2]:
import numpy as np
from pandas import Series,DataFrame
df=DataFrame(data=np.random.randint(1,100,size=(4,5)),index=['Eric','Jojouly','Alex','张三'],columns=['Python','Java','C++','PHP','JSP'])
df

         Python  Java  C++  PHP  JSP
Eric         77    17   92   24   86
Jojouly      92    10    2   52   35
Alex         88     5   18   84   22
张三           88    58   95   35   72