# python 3.12测试

In [6]:
import numpy as np
from pandas import DataFrame,Series
data=np.random.randint(0,100,(5,6))
columns=['语文','数学','英语','物理','化学','生物']
index=['Eric','John', 'Lily', 'Tom', 'Jerry']
df=DataFrame(data=data,index=index,columns=columns)
df

       语文  数学  英语  物理  化学  生物
Eric   99  73  64   2  74  60
John   77  81  97  63   4  46
Lily   97   2  81  12  82  40
Tom    31  72  95  73   6  49
Jerry  91  30  45  52  62  79